<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="methods">
  <test name="Test">
  <groups>
  <run>
  <include name = "@vivo"></include>
  <include name = "@samsung"></include>
  <include name = "@azus"></include>
  <include name = "@realme"></include>
  </run>
  </groups>
    <classes>
      <class name="com.EX.Class1"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
